* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    flex: 1;
    border-bottom: 2px solid #ccc;
    display: flex;
}

.header span {
    flex: 1;
    background: yellow;
    border-radius: 4px;
}

.main {
    flex: 6;
    background: yellowgreen;
}

.footer {
    background: rebeccapurple;
    flex: 1;
}